<div class="side-nav-content ">
    <ul class="nav-list" [ngClass]="{'nav-list-open':sideNavStatus}">
        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-solid fa-house"></i>
                <span>Home</span>
            </a>
          

        </li>

        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-up-right-from-square"></i>
                <span>Vehcile Type</span>
            </a>
            
        </li>

        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-up-right-from-square"></i>
                <span>Vehcile Brand</span>
            </a>
            
        </li>

        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-up-right-from-square"></i>
                <span>Vehcile Launch Year</span>
            </a>
            
        </li>

        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-up-right-from-square"></i>
                <span>Vehcile Fuel Type</span>
            </a>
            
        </li>

        <li class="nav-list-item">
            <a >
                <i class="fa-solid fa-up-right-from-square"></i>
                <span>Vehcile Color</span>
            </a>
            
        </li>

       


    </ul>
</div>